<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" >
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="color: white">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                   <!--  <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a> -->
                </div>
                <%= link_to "Megs", root_path, class: "navbar-brand", style: 'font-size: 2em; color: #fed136; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-weight: bold' %>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="page-scroll navMenu" >
                            <%= link_to "HOME", root_path %>
                        </li>
                        <li class="page-scroll navMenu">
                            <%= link_to "ABOUT ME", about_me_path %>
                        </li>
                        <li class="page-scroll navMenu active">
                            <%= link_to "STUDENT LIFE", student_life_path %>
                        </li>
                        <li class="page-scroll navMenu">
                            <%= link_to "SKILLS", skills_path %>
                        </li>
                        <li class="page-scroll navMenu">
                            <%= link_to "PROJECTS", projects_path %>
                        </li>
                        <li class="page-scroll navMenu">
                            <%= link_to "CONTACT ME", contact_me_path %>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
<div class="row">
    <div class="col-lg-12 text-center" id="centerDiv">
        <h2 class="section-heading">STUDENT LIFE</h2>
        <%= image_tag("Hairdown.jpg", class: 'img-circle img-responsive')%>
        <br><br>
        <div id='btnLinks'>
            <span><%= link_to image_tag("fb.png", class: 'img-circle img-responsive', title: 'Facebook'), 'https://facebook.com/langas' %></span>
            <span><%= link_to image_tag("github.png", class: 'img-circle img-responsive', title: 'Github'), 'https://github.com/andreced'%></span>
        </div>
        <br>
        <span style="font-size: 20px; font-weight: bold"> Andre Cedric Peñalosa </span>
        <hr>
    	<br>
    	<h3 class="section-subheading text-muted">Me as a Student</h3>
        <div style="width: 30em; display: inline-block;">
        	<span class="studentLife">
        		<b><i> I have always excelled in what I endeavor to do. </i></b><br>
                I have always enjoyed learning even before I went to school and  <br>
                when I started my academic life, it only increased in magnitude. <br>
                Every person I have met thus far supplemented and supported that joy in learning <br><br>

                Now that I am nearing the end of my academic career, I can say that I am ready for what is next. <br>
			</span>
		</div>
		<br><br><br><br>
        <h3 class="section-subheading text-muted">Why Computer Science</h3>
        <div style="width: 50em; display: inline-block;">
        	<span class="studentLife">
        		<b><i> Computer Science is the future, and the future is now </i></b><br>
                I am the type of person who is knowledgable in many things and is intrinsically flexible.<br>
                The Computer Science field is an application science that is utilized in different fields and sectors <br>
                and is an ever changing and evolving study. <br><br>

                Computer Science is a great field that due to its evolving nature, will hardly be boring and has an unlimited learning opportunity.<br><br>

                A strong and influential science for aspiring strong and influential professionals.
			</span>
		</div>

		<br><br><br> 

	</div>
</div>
<br><br><br>
<div id='footer'>
    <br>
    <p class="footer" style="background-color: white; text-align: center; color: black"> 
         © Andre Peñalosa Portfolio 2017
    </p> 
</div>